.Glass {
  max-width: 80rem;
  height: 80vh;
  border: 2px solid #363636;
  border-radius: 1rem;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px #151515;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 3;
  flex-direction: column;
  margin: 5rem 0;
  color: #fff;
}
.title{
text-align: center;
}
.text {
  padding: 2rem 4rem; 
  animation: entrance 400ms ease;
}

.text h3{
  padding: 2rem 0;
  text-align: center;
}

@keyframes entrance {
  from {
    transform: translateX(200%);
    color: transparent;
  }
  to {
    transform: translate(0%);
    color: white;
  }
}
.TextContact{
  color:#b700ff ;
}
.UnderLine{
  text-decoration: underline;
}
@media (max-width: 900px) {
  .text {
    padding: 1rem;
  }
}

@media (max-width:580px){
  .text h3{
    padding: 1rem;
    font-size: 1.1rem;
  }
}