
.GlassContainer{
    max-width:80rem;
    height: 80vh;
    border: 2px solid #363636;
    border-radius: 1rem;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px #151515;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 3;
}

@media (max-width: 700px) {
    .GlassContainer{
        height: auto;
        padding: 2rem 0;
    }
}