.ContainerLanding {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 80%;
}

.LandingTitle{
    font-size: 5rem;
}


.media-scroller {
  --spacer: 1rem;
  display: grid;
  gap: var(--spacer);
  grid-auto-flow: column;
  grid-auto-columns: 28%;
  overflow-x: auto;
  overscroll-behavior: contain;
  padding: 2rem var(--spacer) var(--spacer);
  width: 100%;
}

.media-scroller::-webkit-scrollbar-track {
  background: transparent;
}

.media-scroller::-webkit-scrollbar-thumb {
  background: #480064;
}

.media-scroller::-webkit-scrollbar {
  height: 0.5rem;
}

.media-element {
  display: grid;
  grid-template-rows: min-content;
  gap: var(--spacer);
  padding: var(--spacer);
  background-color: #363636;
  border-radius: 1rem;
}

.media-element > img {
  width: 100%;
  aspect-ratio: 4 / 4;
  object-fit: cover;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--spacer);
}

.snaps-inline > .media-element {
  scroll-snap-align: start;
}

@media (max-width:700px) {
    .LandingTitle{
        font-size: 3rem;
    }
   .ContainerLanding{
    width: 50%;
   }
.media-scroller{
    grid-auto-columns: 58%;

}

.media-element > img{
    aspect-ratio: 9 /12;
}

}