.ContainerNavBar {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url("../assets/backgroundFooter.jpg") repeat;
  flex-wrap: wrap;
  transition: 400ms ease-in-out;
  color: #fff;
}

.BarsMenu {
  padding: 0.4rem 0.5rem;
  border: 3px solid #363636;
  border-radius: 0.5rem;
  display: none;
}

.BarsMenu:active {
  transition: all;
  transform: scale(0.9);
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
}

.NavList {
  display: flex;
  list-style-type: none;
  margin: 0;
}
.NavList li {
  padding: 0 1rem;
  transition: 0.35s;
}

.NavList a{
  position: relative;
  padding: 0 1rem;
  text-decoration: none;
  color:#fff;
}

.NavList a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #b700ff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.NavList a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.NavListResponsive {
  display: none;
  list-style-type: none;
  text-decoration: none;
}
.NavListResponsive a{
  text-decoration: none;
  color:#fff;
}

.NavListResponsiveShow a{
  text-decoration: none;
  color:#fff;
}

.NavListResponsiveShow{
  display: none;  
}


@media (max-width: 850px) {
  .BarsMenu {
    display: flex;
  }

  .NavList {
    display: none;
  }
  .NavListResponsive {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    position: absolute;
    top: 6%;
    left: 0;
    gap: 1rem;
    width: 100%;
    padding: 1rem 1rem 2rem 2rem;
    margin: 0;
    transform: scale(1,0);
    transition:transform 400ms ease-in-out;
    transform-origin: top;
    background: url("../assets/backgroundFooter.jpg") no-repeat;
  }

  .NavListResponsiveShow{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    position: absolute;
    top: 6%;
    left: 0;
    gap: 1rem;
    width: 100%;
    padding: 1rem 1rem 2rem 2rem;
    margin: 0;
    transform: scale(1,1);
    transition:transform 400ms ease-in-out;
    transform-origin: top;
    background: url("../assets/backgroundFooter.jpg") no-repeat;
  }

  .NavListResponsive a{
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }
  .NavListResponsiveShow a{
    opacity: 1;
    transition: opacity 350ms ease-in-out 250ms;
  }

}
