.RegisterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 80%;
  position: relative;
  color: #fff;
}

.RegisterContainer .form-box {
    padding: 4rem;
    width: 100%;
  }

  .RegisterContainer .input-box{
    margin: 1.2rem 0;
  }

  .RegisterContainer .btn{
    margin-top: 5rem;
  }

  @media (max-width: 1100px) {
    .RegisterContainer {
      width: 80%;
    }
  }
  
  @media (max-width: 800px) {
    .RegisterContainer {
      width: 80%;
    }
    .RegisterContainer .form-box {
      padding: 1rem;
    }
  }
  
  @media (max-height: 400px) {
    .RegisterContainer {
      width: 90%;
      height: 10%;
    }
    .RegisterContainer h2 {
      padding: 1rem;
    }
    .RegisterContainer .form-box {
      display: flex;
      align-items: center;
      padding: 1rem;
    }
  
    .RegisterContainer form {
      display: flex;
      flex-wrap: wrap;
    }
  
    .RegisterContainer form .input-box {
      padding: 0 4rem;
      flex-grow: 1;
      margin: 0;
    }
    .forgotPass,
    .btn,
    .loginRegister {
      padding: 0;
    }
  }
  
